---
import Layout from "@layouts/Layout.astro";
import CodeCopy from "@components/Astro/CodeCopy.astro";
import Link from "@components/Astro/Link.astro";
import Heading from "@components/Astro/Heading.astro";
import Title from "@components/Astro/Title.astro";
import PageHeader from "@components/Astro/PageHeader.astro";
import Card from "@components/Astro/Card.astro";
import Author from "@components/Astro/Author.astro";
import Tooltip from "@components/Astro/Tooltip.astro";
import { Icon } from "astro-icon/components";
import Code from "@components/Astro/Code.astro";

import logoImg from "@assets/alk4.png";
import Neon from "@components/Astro/utils/Neon.astro";

const code = `
---
import type { ShikiConfig } from "astro";
import type {
	BundledLanguage,
	LanguageRegistration,
	SpecialLanguage,
} from "shiki";

import { SITE } from "@config";
import { Code } from "astro:components";
import CopyToClipboard from "./utils/CopyToClipboard.astro";

interface CopyCodeProps {
	code?: string;
	lang: BundledLanguage | SpecialLanguage | LanguageRegistration;
	customIcon?: JSX.Element;
	theme?: ShikiConfig["theme"];
	customClass?: string | Array<{ [key: string]: boolean | string }>;
}

const {
	code = "",
	lang,
	customIcon,
	customClass,
	theme = SITE.shikiConfig.theme,
} = Astro.props as CopyCodeProps;
---

<div class:list={["relative py-1 px-4 m-0", customClass]}>
	<CopyToClipboard
		textToCopy={code}
		customIcon={customIcon}
		aria-label="Copy code to clipboard"
		size={10}
		customClass="absolute top-4 right-4"
	/>
	<Code lang={lang} theme={theme} code={code} />

</div>
`;
---

<Layout title="Elements">
  <!-- <span class="elements-page"> -->
  <Heading text="Components" />
  <p class="mx-auto max-w-5xl px-2 text-center text-2xl leading-loose">
    Alkaline features more than <Neon titleText="24 custom components " />, along with a concise design and typography
    system.
  </p>
  <section>
    <article>
      <h2>
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Title
      </h2>
      <p class="mb-8 ml-2 text-xl">Several configurations are available for the Title component.</p>

      <Title title="Gradient Title" showTitleBackground={false} />
      <div class="mb-4 h-8 border-t-8 border-theme-secondary"></div>
      <Title title="With Background" showTitleBackground class="overflow-hidden" />
      <div class="h-8"></div>

      <Title title="Logo Shown" showTitleBackground forceLogoOnMobile logoImg={logoImg} />
    </article>

    <article class="mt-24">
      <h2>
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 mr-2 inline" />Page Header
      </h2>
      <p class="mb-8 ml-2 text-xl">Multiple configuration options make it easy to create a variety of headers.</p>
      <PageHeader
        heading="Page Header"
        description="Lorem ipsum dolor sit amet, Mauris fringilla, nunc at tincidunt fermentum, turpis nunc Max Weinberg, et facilisis leo magna eget nunc. Integer Sona Movsesian, lorem a facilisis fermentum, justo orci."
        class="max-w-5xl"
      />
      <hr />
      <PageHeader
        heading="Page Header"
        description="Refresh to view the animation: Lorem ipsum dolor sit amet, Conan O'Brien consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt, nec Andy Richter. Vivamus efficitur."
        image={logoImg}
        imageAlt="ALK Logo"
        class="relative lg:mt-2"
      />
    </article>

    <article>
      <h2>
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Cards
      </h2>
      <p class="mb-8 ml-2 text-xl">
        There are several configurations available for the card component. These configuration options should make it
        easy to build a variety of cards.
      </p>
      <div class="mt-24 flex flex-row flex-wrap items-center justify-center gap-6 md:justify-evenly">
        <Card title="Card" description="Card with no shadow." shadowSize="none" />
        <Card title="Card" description="Card with medium shadow." shadowSize="md" />
        <Card title="Card" description="Card with large shadow." shadowSize="lg" />
        <Card title="Card" description="Alt Card with no shadow." shadowSize="none" alt />
        <Card title="Card" description="Alt card with medium shadow." shadowSize="md" alt />
        <Card title="Card" description="Alt card with large shadow." shadowSize="lg" alt />
      </div>
    </article>

    <article class="mt-24">
      <h2>
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Author with socials
      </h2>
      <p class="mb-8 ml-2 text-xl">
        A variety of social icons are available for the author component. Easily switch to your favorite icon library.
      </p>

      <div class="ml-8 p-4">
        <Author authorId={99} pubDateTime={null} class="ml-1" />
      </div>
    </article>

    <article class="mt-24">
      <h2>
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Tooltip
      </h2>
      <p class="mb-8 ml-2 text-xl">Available in two different styles.</p>

      <div class="ml-8 p-4">
        <!-- Basic usage -->
        <div>
          <Tooltip triggerText="Hover me" tooltipText="I'm a tooltip!" />
        </div>

        <!-- With slots -->
        <div>
          <Tooltip neonify>
            <span slot="trigger">Hover me</span>
            <div slot="content">I'm a tooltip too!</div>
          </Tooltip>
        </div>
      </div>
    </article>

    <article class="mt-24">
      <h2>
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        404
      </h2>
      <p class="mb-8 ml-2 text-xl">A basic 404 page is included.</p>

      <div class="ml-8 p-4 text-lg">
        <p>
          Not all who wonder are lost, but if they are, they'll get a nice <Link href="/404" text="404" /> message.
        </p>
      </div>
    </article>
  </section>

  <!-- Typography -->

  <Heading text="Typography" />

  <p class="mx-auto max-w-5xl px-2 text-center text-2xl leading-loose">
    Alkaline comes with built-in typography, layouts, and essential styling powered by Tailwind CSS. You can easily
    customize or remove any styling to match your needs.
  </p>

  <section class="mt-0">
    <article class="mt-24">
      <h2 class="mb-4">
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Paragraphs
      </h2>

      <p class="max-w-4xl">
        Lorem ipsum dolor sit amet, Conan O'Brien consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt
        nec Andy Richter. Vivamus efficitur, risus at vehicula fermentum, eros magna Matt O'Brien, non tincidunt lacus
        magna at eros. Nulla facilisi. In hac habitasse platea dictumst."
      </p>
      <p class="max-w-4xl">
        Lorem ipsum dolor sit amet, Conan O'Brien consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt
        nec Andy Richter. Vivamus efficitur, risus at vehicula fermentum, eros magna Matt O'Brien, non tincidunt lacus
        magna at eros. Nulla facilisi. In hac habitasse platea dictumst." nec.
      </p>
    </article>

    <article class="mt-24">
      <h2 class="mb-4">
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Lists
      </h2>
      <div class="grid max-w-5xl grid-cols-1 gap-8 md:grid-cols-2">
        <span>
          <h3 class="mb-2">Unordered List</h3>
          <ul class="list-disc pl-5">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
        </span>

        <span>
          <h3 class="mb-2">Ordered List</h3>
          <ol class="list-decimal pl-5">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>
        </span>
      </div>
    </article>

    <article class="mt-24">
      <h2 class="mb-4">
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Blockquotes
      </h2>

      <blockquote class="border-gray-300 max-w-5xl border-l-4 pl-4 italic">
        <p>
          Conan O'Brien consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt nec Andy Richter. Vivamus
          efficitur, risus at vehicula fermentum, eros magna Matt O'Brien, non tincidunt lacus magna at eros. Nulla
          facilisi. In hac habitasse platea dictumst.
        </p>
      </blockquote>
    </article>

    <article class="mt-24">
      <h2 class="mb-4">
        <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
        Code
      </h2>
      <p class="mb-4">
        Inline code: <Code code=" const x = 42; " lang="js" inline />
      </p>
      <p class="mb-2 mt-8">Code block with copy to clipboard:</p>
      <CodeCopy lang="astro" code={code} class="xl:w-3/5" />
    </article>
  </section>

  <article class="mt-24">
    <h2 class="mb-4">
      <Icon name="ri:star-fill" width="1.75rem" class="-mt-2 inline" />
      Links
    </h2>

    <Link href="/elements" text="Internal Link" />
    <div class="m-0"></div>

    <Link href="https://google.com" external text="External Link" />
  </article>
</Layout>
<!-- </span> -->
