---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import SplashHeader from "@components/Astro/SplashHeader.astro";
import { getPosts } from "@utils/getPosts";
import ClickableCard from "@components/Astro/ClickableCard.astro";
import ThemedBackground from "@components/Astro/utils/ThemedBackground.astro";

// Fetch and sort the first 3 blog posts
const posts = (await getPosts())
  .sort((a, b) => b.data.pubDatetime.valueOf() - a.data.pubDatetime.valueOf())
  .slice(0, 3);
---

<Layout>
  <SplashHeader heading={SITE.heading} description={SITE.description} backgroundOpacity={0.3}>
    <ThemedBackground />
  </SplashHeader>

  <section class="fade-in mb-16 mt-16 flex flex-col items-center justify-center">
    <a
      href="/blog"
      class="rounded-theme border-2 bg-theme-primary p-4 text-center text-xl tracking-wide text-theme-primary no-underline shadow-sm shadow-theme-primary transition-all duration-300 ease-in-out hover:border-theme-secondary hover:bg-theme-secondary hover:text-theme-secondary hover:shadow-none lg:text-2xl"
    >
      Explore Posts
    </a>
  </section>

  <section class="fade-in mb-48 mt-16 flex flex-col items-center justify-center">
    <h2 class="mb-8 w-full rounded-theme bg-theme-secondary p-5 text-center uppercase text-theme-secondary lg:w-auto">
      Recent Posts
    </h2>
    <div class="build-in mx-0 mb-16 mt-8 grid w-full grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:p-5">
      {
        posts.map((post) => (
          <ClickableCard
            iconName="ri:file-text-line"
            alignIcon="left"
            href={`/blog/${post.id}/`}
            title={post.data.title}
            description={post.data.description}
            shadowSize="lg"
          />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .build-in {
    animation-delay: 0.75s;
  }
</style>
