---
// Layout component that wraps around pages and blog posts, providing consistent structure and styling. you can read more about it here: https://docs.astro.build/en/guides/layouts/
import type { CollectionEntry } from "astro:content";

import { BLOG, COLLECTION_NAMES_LIST } from "src/alkaline.config";
import { SITE } from "src/alkaline.config";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Pagination from "@components/Astro/Pagination.astro";
import Layout from "@layouts/Layout.astro";
import Tag from "@components/Astro/utils/Tag.astro";
import Heading from "@components/Astro/Heading.astro";
import Author from "@components/Astro/Author.astro";

type Post = CollectionEntry<(typeof COLLECTION_NAMES_LIST)[number]>;

interface Page {
  total: number;
  currentPage: number;
  lastPage: number;
  url: { prev?: string; next?: string };
}

interface Props {
  posts: Post[];
  page?: Page;
  collectionName: (typeof COLLECTION_NAMES_LIST)[number] | string | undefined;
  title?: string | undefined;
  description?: string;
  filter?: (typeof COLLECTION_NAMES_LIST)[number] | string | undefined;
  includeDrafts?: boolean;
  subtitle?: string;
  class?: string | undefined;
}

const { posts, page, collectionName = COLLECTION_NAMES_LIST[0], subtitle, class: className } = Astro.props;

const options = { "rounded-theme": true };

posts?.sort((a, b) => new Date(b.data.pubDatetime || 0).valueOf() - new Date(a.data.pubDatetime || 0).valueOf());
---

<Layout title={BLOG.subtitle} description={BLOG.description} class={className}>
    {subtitle?.toLowerCase() !== "the coffeehouse" && (
      <>
        <Heading text={subtitle} />
        <span class="block text-center">
          <a href="/blog"> Back to all blog entires</a>
        </span>
      </>
    )
  }
  <section class="mt-0 md:mx-auto md:max-w-3xl">
    {!posts?.length && <p class="text-theme-primary">No posts found.</p>}
    {
      posts?.map((post) => (
        <article class="mb-10" id={post.id}>
          <a
            href={`/${post.collection || collectionName}/${post.id}`}
            class="group mb-2 flex flex-row items-center no-underline"
          >
            {post.data.cover && (
              <div class="mb-2 mr-4 h-[4.5rem] w-[4.5rem] flex-shrink-0">
                <Image
                  src={post.data.cover.src}
                  alt={post.data.cover.alt || post.data.title || "Post Image"}
                  format="webp"
                  width={128}
                  height={128}
                  class:list={[
                    "border-theme-accent m-0 h-full w-full border object-cover transition-transform duration-500 group-hover:rotate-6",
                    options,
                  ]}
                  loading="lazy"
                />
              </div>
            )}
            <h2 class="">{post.data.title}</h2>
          </a>
          <div class="mb-3 mt-0 flex flex-wrap">
            {post.data.tags?.map((tag: string) => (
              <Tag tag={tag} size="sm" />
            ))}
          </div>
          <p class="mb-2 text-lg">
            {post.data.description}{" "}
            <a href={`/${post.collection || collectionName}/${post.id}`} class="pl-2 text-theme-primary">
              Read more...
            </a>
          </p>
          {post.data.modDatetime && (
            <p class="font-mono text-sm text-theme-primary">
              updated: {new Date(post.data.modDatetime).toLocaleString()}
            </p>
          )}
          <div class="mb-3 ml-1 inline-block border-l-4 border-theme-primary p-4">
            <Icon name="ri:quill-pen-line" size="16" class="mr-0.5 inline align-middle" />
            Posted by:
            <Author
              authorId={post.data.authorId}
              pubDateTime={new Date(post.data.pubDatetime)}
              class="ml-0.5 mt-2 inline font-mono not-italic"
            />
          </div>
        </article>
      ))
    }
  </section>
  <div class="flex justify-center">
    {page && SITE.postsPerPage < page.total && <Pagination page={page} />}
  </div>
</Layout>
